@model Team1_ABCPublishingProblem_WebApp.Models.Objects.Section
@{
	ViewData["Title"] = Html.DisplayFor(m => m.Title);
}

<h2>@Html.DisplayFor(m => m.Title)</h2>

<hr />

<div class="card">
	<div class="card-body">
		@Html.DisplayFor(m => m.Content)
	</div>
	<ul class="list-group-flush">
		@foreach (var chapter in Model.Navigation)
		{
			<li class="nav-link list-group-item">
				<a href="@Url.Action(action:"GetBookContent", controller: "Section", values: new {id = chapter.Section})" class="text-reset text-decoration-none">@Html.DisplayFor(m => chapter.Text)</a>
			</li>
		}
	</ul>
</div>

<a href="@Url.Action(action:"GetPreface", controller: "Section")" class=" text-reset text-decoration-none">Return to Preface</a>